.App {
  text-align: center;
}
input{
  width: 30%;
  background-color: rgb(222, 237, 244);
  border-radius: 10px;
  height: 40px;
  padding-left: 10px;
  border:none;
}
button{
  width: 12%;
  border-radius: 10px;
  height: 40px;
  border:none;
}
button:hover{
  background-color: antiquewhite;
  width: 12%;
  border-radius: 10px;
  height: 40px;
  border:none;
}